<h3>
    #{PARAM_NAME}: <b>#{PARAM_LAST_VALUE}</b>
</h3>
<table class="table text-muted small">
    <tr>
        <td width="20%">Avg:</td>
        <td>#{PARAM_AVG_VALUE}</td>
    </tr>
    <tr>
        <td>StDev:</td>
        <td>#{PARAM_STDEV_VALUE}</td>
    </tr>
    <tr>
        <td>Min:</td>
        <td>#{PARAM_MIN_VALUE}</td>
    </tr>
    <tr>
        <td>Max:</td>
        <td>#{PARAM_MAX_VALUE}</td>
    </tr>
    <tr>
        <td>Count:</td>
        <td>#{PARAM_VALUE_COUNT}</td>
    </tr>
</table>