extends layout

block content
    .container
        header.header
            .row
                .col-sm-8
                    h1 My Fancy Drink
                .col-sm-4.text-right
                    EAH-Jena

            
        div
            h3 Please create your drink
        
        div(id='configPanel')
            div(id='comp1Panel').component-panel
                .row
                    .col-sm-3 
                        h4 1. Fruit juice
                    .col-sm-9
                        div(id='component_1').config-options
                            div.config-option 
                                    img(src='images/juice_bottles/orange.jpg').config-option-image
                                    br
                                    b Orange juice
                            div.config-option 
                                    img(src='images/juice_bottles/apple.jpg').config-option-image
                                    br
                                    b Apple juice
                            div.config-option 
                                    img(src='images/juice_bottles/banana.jpg').config-option-image
                                    br
                                    b Banana juice
                            div.config-option 
                                    img(src='images/juice_bottles/cherry.jpg').config-option-image
                                    br
                                    b Cherry juice
                            div.config-option 
                                    img(src='images/juice_bottles/currant.jpg').config-option-image
                                    br
                                    b Currant juice
                            div.config-option 
                                    img(src='images/juice_bottles/grape.jpg').config-option-image
                                    br
                                    b Grape juice
                            div.config-option 
                                    img(src='images/juice_bottles/tomato.jpg').config-option-image
                                    br
                                    b Tomato juice
            
            div(id='comp2Panel').component-panel
                .row
                    .col-sm-3 
                        h4 2. Fruit pureé
                    .col-sm-9
                        div(id='component_2').config-options
                            div.config-option 
                                    img(src='images/fruit_purees_optimized/currant.jpg').config-option-image
                                    br
                                    b Currant puree
                            div.config-option 
                                    img(src='images/fruit_purees_optimized/kiwi.jpg').config-option-image
                                    br
                                    b Kiwi puree
                            div.config-option 
                                    img(src='images/fruit_purees_optimized/mango.jpg').config-option-image
                                    br
                                    b Mango puree
                            div.config-option 
                                    img(src='images/fruit_purees_optimized/peach.jpg').config-option-image
                                    br
                                    b Peach puree
                            div.config-option 
                                    img(src='images/fruit_purees_optimized/pear.jpg').config-option-image
                                    br
                                    b Pear puree
                            div.config-option 
                                    img(src='images/fruit_purees_optimized/strawberry.jpg').config-option-image
                                    br
                                    b Strawberry puree

            
            div(id='comp3Panel').component-panel
                .row
                    .col-sm-3 
                        h4 3. Fruit pieces
                    .col-sm-9
                        div(id='component_3').config-options
                            div.config-option 
                                    img(src='images/fruit_pieces_optimized/banana.jpg').config-option-image
                                    br
                                    b Banana pieces
                            div.config-option 
                                    img(src='images/fruit_pieces_optimized/blueberry.jpg').config-option-image
                                    br
                                    b Blueberries
                            div.config-option 
                                    img(src='images/fruit_pieces_optimized/mango.jpg').config-option-image
                                    br
                                    b Mango pieces
                            div.config-option 
                                    img(src='images/fruit_pieces_optimized/pineapple.jpg').config-option-image
                                    br
                                    b Pineapple pieces
                            div.config-option 
                                    img(src='images/fruit_pieces_optimized/raspberry.jpg').config-option-image
                                    br
                                    b Raspberries
                            div.config-option 
                                    img(src='images/fruit_pieces_optimized/strawberry.jpg').config-option-image
                                    br
                                    b Strawberry pieces
                                    
            div(id='comp4Panel').component-panel
                .row
                    .col-sm-3 
                        h4 4. Alcohol
                    .col-sm-9
                        div(id='component_4').config-options
                            div.config-option 
                                    img(src='images/alcohol_optimized/gin.jpg').config-option-image
                                    br
                                    b Gin
                            div.config-option 
                                    img(src='images/alcohol_optimized/rum.jpg').config-option-image
                                    br
                                    b Rum
                            div.config-option 
                                    img(src='images/alcohol_optimized/vodka.jpg').config-option-image
                                    br
                                    b Vodka
                            div.config-option 
                                    img(src='images/alcohol_optimized/no_alcohol.jpg').config-option-image
                                    br
                                    b No alcohol
            
            div(id='sumbitPanel').component-panel
                button(id='orderButton').btn.btn-success.btn-lg.btn-block Order now

        div(id='orderPanel')
            .jumbotron
                h2 Your order...
                p.lead ...is almost complete. Please final check your components:
                .container
                    .row
                        .col-md-3
                            p.lead 1.
                            h3(id='finalComponent1Value') tbd
                        .col-md-3
                            p.lead 2.
                            h3(id='finalComponent2Value') tbd
                        .col-md-3
                            p.lead 3.
                            h3(id='finalComponent3Value') tbd
                        .col-md-3
                            p.lead 4.
                            h3(id='finalComponent4Value') tbd

                p
                    button(id='backSubmitButton').btn.btn-default.btn-lg.eah-button
                        span.glyphicon.glyphicon-chevron-left 
                        |   Back
                    button(id='submitButton').btn.btn-lg.btn-success.eah-button Submit order 
                        span.glyphicon.glyphicon-chevron-right

        div(id='receiptPanel')
            .jumbotron
                h2 Your order was accepted!
                p.lead Your personal product ID is:
                h2(id='receiptProductID') #tbd
                button(id='resetButton').btn.btn-lg.btn-success.eah-button Start again 
                        span.glyphicon.glyphicon-repeat


        
        // Site footer
        footer.footer
            p © EAH Jena 2017
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/slick.min.js')
    script(src='javascripts/my.js')
    script(src='/socket.io/socket.io.js')