body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1
{
  text-align:center;
  font-size: 40px;
}

a {
  color: #00B7FF;
}

#wrapper {
	position:relative;
}

#Transportlist {
	margin:0 0 30px 0;
	font-size: 20px;

}
	#Transportlist table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
		margin-left:auto;
		margin-right: auto;
		width: 90% !important
		
	}
		#Transportlist table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
			
		}
		#Transportlist table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#Transportlist table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
				padding: 15px;
			}

	fieldset {
	border:0;
	padding:0; margin:0;
}

#myTransportlist {
	margin:0 0 30px 0;
	font-size: 20px;

}
	#myTransportlist table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
		margin-left:auto;
		margin-right: auto;
		
	}
		#myTransportlist table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
			
		}
		#myTransportlist table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#myTransportlist table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
				padding: 15px;
			}
	

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}


div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}