doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='javascript', href='/javascripts/bootstrap.js')
  body
    block content
